//discourse-signup - mobile.scss

//------------- Signup Model Popup Changes ---------------//

.d-modal.create-account {
    .login-welcome-header {
        z-index: 999;
    }
    /* Binjan; 2023.12.04; signup form class selector changes to id selector */
    #login-form {
        display: flex;

        .select-kit-header.single-select-header.combo-box-header {
            height: 2.5em;
        }
    }
}

//------------- End Of Signup Model Popup Changes ---------------//
