//discourse-signup - common-scss

//------------- Signup Model Popup Changes ---------------//
.d-modal.create-account #login-form {
    padding: 1em 0 0 0 !important;
    margin: -1.4em 0em -0.3em -0.4em !important;
    @include breakpoint(mobile-large) { 
        padding: 1em !important;
    }
    .input-group.create-account__fullname, .user-fields{
        display:none !important;
    }
    .input-group.create-account-state,.input-group.create-account-province{
        display: none;
    }
    .input-group.create-account-country,.input-group.create-account-state,.input-group.create-account-province{
        label{
            display: none;
        }
    }
    //Add terms of service Checkbox after Province user-field  [Added by Ajroddin; Date: 05/10/2021]
    .create-account-terms-of-service{
        grid-column: 1;
        @include breakpoint(mobile-large) {
            margin-left: 0;
        }
    }
    .select-kit-header.single-select-header.combo-box-header{
        padding: 0.72em 0.77em;
        //Modified to make the drop-down input fields bit narrower [Added by: Saurabh; Date: 13-09-2021]
        min-width: 244px;
        width: 244px !important;
        @include breakpoint(tablet) {
            min-width: 250px;
            width: 100% !important;
        }
        box-shadow: none;
        margin-bottom: 0.25em;

        &[data-value|=""] {
            color: var(--primary-medium);
        }  
        &[data-value|=""] span.name::after {
            content:"*";
            vertical-align: top;
            color: var(--danger);
            font-weight: bold;
            margin-left: 0.25em;
        }
        }
    .user-field .select-kit{
        z-index: 99999;
    }
    //To make the height of the dropdown field same as text input fields [Added by: Saurabh; Date: 10-09-2021]
    .user-field.dropdown .select-kit .select-kit-header .select-kit-header-wrapper{
        min-height: auto !important;
    }
    label.more-info{
        color: var(--primary-medium) !important;
    }
    //To hide the astric sign after email, username and password filed which was previously added by Softwareag team. 
    //As new newer release Discourse Team added astric sign in discourse source code.
    label[for="new-account-email"],
    label[for="new-account-username"],
    label[for="new-account-password"] {
        &:after {
            display: none !important;
        }
    }
    //To add the asterisk sign after Company if select Country is Banned. [Added by Saurabh; Date: 22/06/2021]
    label[for="new-account-company"]{
        &::after{
            content: attr(data-value);
            vertical-align: top;
            color: var(--danger);
            font-weight: bold;
            margin-left: 0.25em;
        }
    }
    //To have less space between fields in signup modal [Added by: Saurabh; Date: 10-09-2021]
    .input-group {
        margin-bottom: 0em !important;
        //Added to make the input fields bit narrower [Added by: Saurabh; Date: 13-09-2021]
        input {
            min-width: 244px;
            width: 244px !important;
            @include breakpoint(tablet) {
                min-width: 250px;
                width: 100% !important;
            }
        }
    }
    //Added to make the input fields bit narrower [Added by: Saurabh; Date: 13-09-2021]
    //Fix the password's Show/Hide link alignment issue on create-account form [Modified by: Saurabh; Date: 04-01-2023]
    // 1. Modify the CSS selector to avoid the below css for the password-validation tip
    // 2. Increase the width of the fields from 230px to 244px
    :not(#password-validation).tip {
        min-width: 244px;
        width: 244px !important;
        @include breakpoint(tablet) {
            min-width: 250px;
            width: 100% !important;
        }
    }
}

/* Apply CSS for the “Create your account” link on Signup form [Added by Ajroddin; Date: 10/09/2021] */
.d-modal.create-account {
    //To have the Log In button with green background in signup modal [Added by: Saurabh; Date: 10-09-2021]
    button.signup-page-cta__login{
        background-color: var(--highlight) !important;
        color: #011f3d;
	font-size: var(--font-up-1) !important;
    }

    button.signup-page-cta__signup {
        font-size: var(--font-up-1) !important;
    }

    /* Binjan; 2023.12.04; adust padding */
    .login-left-side {
        padding: 1rem 1rem !important;
        overflow-y: auto;
        overflow-x: hidden;

        .login-welcome-header {			
		.login-title, .waving-hand {
			display: none;
		}
			
		.login-subheader {
			font-weight: 600;
		}
	}

	.signup-page-cta__existing-account {
        	display: none;
    	}
    
    	.signup-page-cta__buttons {
        	flex-direction: row !important;
        	gap: 0.3rem;
        
        	button, hr {
            		width: unset !important;
        	}
    	}
    }
    
    .login-right-side {
        padding: 3.5rem 1rem;
        #login-buttons {
            min-width: 200px;
            min-height: 75px;
        }
    }
}


.d-modal.login-modal {
    .login-left-side {
        .login-page-cta__no-account-yet {
            display: none;
        }
        
        .login-page-cta__buttons {
        	flex-direction: row !important;
        	gap: 0.3rem;
        
        	button, hr {
            		width: unset !important;
        	}
    	}
    	
        button.login-page-cta__login,
        button.login-page-cta__signup {
            font-size: var(--font-up-1) !important;
        }
    }
}

/*Google OAuth Signup Model Popup Changes*/
/* Binjan; 2023.12.04; signup form class selector changes to id selector */
.d-modal.create-account .create-account-form.google_oauth2 #login-form {
    .input-group.create-account-associate-link {
        grid-column: 1 / 3;
        padding-bottom: 1em;
    }
    .input-group.create-account__password {
        display:none !important;
    }
    .create-account-terms-of-service {
        grid-column: 1;
        padding: 0 2em;
        margin-left: 0;
        @include breakpoint(mobile-large) {
            padding: 0 0;
        }
    }
}
/*End Of Google OAuth Signup Model Popup Changes*/

//------------- End Of Signup Model Popup Changes ---------------//

//------------- Invite Signup form Changes ---------------//

//Created on: 05/05/20021
//Hide the unnecessary input fields on invites signup page
//Add terms of service Checkbox after Province user-field  [Added by Ajroddin; Date: 05/10/2021]
.invites-show
    .user-fields
    .user-field:not(.user-field-first-name, .user-field-last-name, .user-field-country, .user-field-company, .user-field-terms-of-service) {
    display: none;
}
.invites-show {
    @include breakpoint(mobile-large) {
        .col-form{
            flex-basis: 100%;
        }
    }
    
    //Apply bottom margin to the invites signup form to avoid overlapping of the cookies notice on the form [Added By: Saurabh, Date: 14/05/2021]
    form {
        margin-bottom: 200px;
        .input {
            margin-bottom: 10px !important;
        }
    }
    //Remove the bottom marging of the input
    .input-group {
        margin-bottom: unset !important;
    }
    //Increased the width of dropdown to match with the text input fileds on invites signup page
    input[type="text"],
    input[type="password"],
    input[type="email"],
    .user-field.dropdown .select-kit.single-select {        
        max-width: 300px;
        @include breakpoint(mobile-large) {
            max-width: 100%;
        }
    }
    //Set top margin to label of the dropdown button on invites signup page
    .user-field.dropdown .instructions {
        margin-top: 0.5em;
    }
    
    .invite-form .user-fields .input-group .user-field span.name {
        color: var(--primary) !important;
        font-weight: normal;
    }
    
    //Hide full name input field on the invites signup page
    .name-input {
        display: none !important;
    }
    .tip {
        display: unset; /* Binjan; 2023.12.04; change to solve extra space issue; change "block" to "unset" */
    }
    .tip:empty {
        display: none;
    }
}
//To hide the astric sign after email, username and password filed which was previously added by Softwareag team.
//As new newer release Discourse Team added astric sign in discourse source code.
label[for="new-account-email"],
label[for="new-account-username"],
label[for="new-account-password"] {
    &:after {
        display: none !important;
    }
}

//------------- End Of Invite Signup form Changes ---------------//
