.d-modal.create-account .login-form form{
    .input-group:nth-child(3), .user-fields{
        display:none !important;
    }
    .input-group.create-account-state,.input-group.create-account-province{
        display: none;
    }
    .input-group.create-account-country,.input-group.create-account-state,.input-group.create-account-province{
        label{
            display: none;
        }
    }
    .select-kit-header.single-select-header.combo-box-header{
        padding: 0.72em 0.77em;
        border-radius: 0.25em;
        min-width: 250px;
        box-shadow: none;
        margin-bottom: 0.25em;
        
        &[data-value|=""] {
            color: var(--primary-medium);
        }  
        &[data-value|=""] span.name::after {
            content:"*";
            vertical-align: top;
            color: var(--danger);
            font-weight: bold;
            margin-left: 0.25em;
        }
     }
    .user-field .select-kit{
        z-index: 99999;
    }
    //To hide the astric sign after email, username and password filed which was previously added by Softwareag team. 
    //As new newer release Discourse Team added astric sign in discourse source code.
    label[for="new-account-email"],
    label[for="new-account-username"],
    label[for="new-account-password"] {
        &:after {
            display: none !important;
        }
    }
}
