.d-modal.create-account .user-field.user-field-state,.d-modal.create-account .user-field.user-field-province{
    display: none;
}

.d-modal.create-account div.hide-new-account-name{
    display: none !important;
}

.create-account .wp-column .instructions label{
    min-height: 1.75em;    
}

.create-account .wp-column .instructions{
    min-height: 1.75em;    
}

@media  (max-width:961px)  { 
    .wp-column {
      width: 100% !important;
    }
    
    .wp-row {
      display: flex;
      flex-direction: column;
    }
    
    .create-account .user-field .controls{
     padding-top: 0px;   
    }
}

/* Hide the Location and Website Fileds the User preferences-> location /preferences/profile [By Webdirekt on 19-11-2020] */
.user-content.user-preferences .control-group.pref-location, .user-content.user-preferences .control-group.pref-website{
    display: none;
}