.d-modal.create-account div.input input, .d-modal.create-account div.input label {
    margin-bottom: 0;
    width: 100%;
}

.login-form .tip:not(:empty)+div {
    display: none;
}

.modal div.instructions label {
    color: var(--primary-medium);
}

.wp-column {
  width: 100%;
}

.wp-row {
  display: flex;
  flex-direction: column;
}

.create-account .user-field .controls{
 padding-top: 0px;   
}

.d-modal.create-account .instructions{
    margin-top: 0.15em;
    display: flex;
    flex-direction: column;
}
