.create-account .user-field>label{
    padding-top: 0px;
}

.create-account .user-field>label, .create-account .user-field .controls{
    padding-top: 0px;
}

.d-modal.create-account .instructions{
    margin-bottom: 5px;
    margin-top: 0.15em;
}

.modal.create-account .modal-inner-container{
    max-width: 900px;
    min-width: 550px;
    width: 80%;
}

.d-modal.create-account div.input input, .d-modal.create-account div.input label {
    margin-bottom: 0;
    width: 100%;
}

.login-form .tip:not(:empty)+div {
    display: none;
}

.modal div.instructions label {
    color: var(--primary-medium);
}

.wp-row:after {
  content: "";
  display: table;
  clear: both;
}   

/* Create two equal columns that sits next to each other */
.wp-column {
  float: left;
  width: 50%;
}

div.wp-column > div {
  padding: 0 10px;
}