//discourse-signup - desktop.scss

//------------- Signup Model Popup Changes ---------------//

//Display Create Account Modal with 88% width if screen is less than 680px
@media (max-width: 680px){
     .d-modal.create-account{
          .modal-inner-container{
               max-width: 88%;
          } 
          /* Binjan; 2023.11.01; change class name create-account-body to create-account-form */
          .create-account-form{
               min-width: 88% !important;
          }
          .has-alt-auth {
               /* Binjan; 2023.12.04; signup form class selector changes to id selector */
               #login-form {
                    .input-group{
                         input:not(.value-entered):not(:focus)+label.alt-placeholder{
                              left: 3em;
                         }
                         input:focus+label.alt-placeholder,input.value-entered+label.alt-placeholder{
                              left: calc(3em - 0.25em);
                         }
                    }
               }
          } 
     }
}

//Display Create Account Modal with below styling when device size is greater then 900px
@media (min-width: 900px) {
     .d-modal.create-account{
          /* Binjan; 2023.12.04; signup form class selector changes to id selector */
          #login-form {
               display: grid;
               grid-template-columns: auto auto;
          }
          /* Binjan; 2023.12.04; change class name */
          .d-modal__container { 
               max-width: 822px; /* Binjan; 2023.12.04; change width */
               width: 100%; /* Binjan; 2023.11.01 */
               max-height: 82vh; /* Binjan' 2023.12.04; set height of signup modal popup */
          }
          .d-modal__body {
               gap: 0 !important;
          }
          /* Binjan; 2023.12.04; add new css for footer */
          .d-modal__footer {
               border-top: 1px solid var(--primary-low);
               padding: 10px
          }
           /* Binjan; 2023.11.01; change class name create-account-body to create-account-form */
          .create-account-form{
               min-width: 825px !important;
          }
          .has-alt-auth {
               /* Binjan; 2023.12.04; signup form class selector changes to id selector */
               #login-form{
                    /* Binjan; 2023.12.04; add additional class */
                    .input-group, .create-account-terms-of-service{
                         padding: 0 1em;
                         input:not(.value-entered):not(:focus)+label.alt-placeholder{
                              left: 2em;
                         }
                         input:focus+label.alt-placeholder,input.value-entered+label.alt-placeholder{
                              left: calc(2em - 0.25em);
                         }
                    }
               }
          } 
     }
     .d-modal.create-account .has-alt-auth .create-account-form{
          grid-template-columns: 70% 30% !important;
     }
}

//Display Create Account Modal with below styling when device size is greater then 600px
@media (min-width: 680px) and (max-width: 900px) {
     .d-modal.create-account{
          /* Binjan; 2023.12.04; signup form class selector changes to id selector */
          #login-form {
               /* Binjan; 2023.12.04; add additional class */
               .input-group, .create-account-terms-of-service {
                    padding: 0 2em;
               }
          }
          .modal-inner-container{
               max-width: 600px;
               width: 100%; /* Binjan; 2023.11.01 */
          }
           /* Binjan; 2023.11.01; change class name create-account-body to create-account-form */
          .create-account-form{
               min-width: 600px !important;
          }
          .has-alt-auth {
               /* Binjan; 2023.12.04; signup form class selector changes to id selector */
               #login-form{
                    .input-group{
                         padding: 0 1em;
                         input:not(.value-entered):not(:focus)+label.alt-placeholder{
                              left: 2em;
                         }
                         input:focus+label.alt-placeholder,input.value-entered+label.alt-placeholder{
                              left: calc(2em - 0.25em);
                         }
                    }
               }
          } 
     }
     .d-modal.create-account .has-alt-auth .create-account-form{
          grid-template-columns: 60% 40% !important;
     }
}
@media screen and (min-width: 500px) {
     .login-modal .tip, .create-account .tip {
          min-width: 100% !important;
          max-width: 250px !important;
          display: unset; /* Binjan; 2023.12.04; set info/error message */
     }
}

.d-modal.create-account { 
     .login-welcome-header{
          padding: 0em 2em 0em !important;
          max-width: 100% !important; // Fix the signup form width issue occurred after the discours updated. [Added by: Saurabh; Date: 18-01-2022] 
     }
     .modal-body{
          display: flex !important;
     }
}

//------------- End Of Signup Model Popup Changes ---------------//
